<article>
<ul>
    <%= image_for(@cars) %>
    <%= @car.title %>
<strong>
<%= car.year %> <%= car.make%>
  <%= car.model %> <%= car.category%>
  <%= number_to_currency(car.price) %>
</ul>
<strong>
<p>
  <th>Mileage:</th>
    <%= car.mileage %>
</p>
<p>
  <th>Engine:</th>
    <%= car.engine %>
  <p>
    <th>Transmission:</th>
    <%= car.transmission %>
  </p>
  <p>
  <th>Drivetrain:</th>
    <%= car.drive_train %>
    <p>
    <th>Color:</th>
    <%= car.color%>
    <p>
    <th>Int. Color:</th>
    <%= car.int_color %>
  </p>
  </article>

  <nav>
    <%= link_to "Edit", edit_car_path(@car) %>
  </nav>
